<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h2>User Login</h2>

<div class="container">
<form th:action="@{/users/login}" th:object="${user}" method="post">

    <div>
        <label>Email</label>
        <input type="text" th:field="*{email}">
    </div>

    <div>
        <label>Password</label>
        <input type="password" th:field="*{password}">
    </div>

    <p class="error" th:if="${error}" th:text="${error}"></p>

    <button type="submit">Login</button>

</form>
</div>

</body>
</html>