<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h2>User Registration</h2>

<div class="container">
<form th:action="@{/users/register}" th:object="${user}" method="post">

    <div>
        <label>Name</label>
        <input type="text" th:field="*{name}">
        <p class="error" th:errors="*{name}"></p>
    </div>

    <div>
        <label>Email</label>
        <input type="text" th:field="*{email}">
        <p class="error" th:errors="*{email}"></p>
    </div>

    <div>
        <label>Password</label>
        <input type="password" th:field="*{password}">
        <p class="error" th:errors="*{password}"></p>
    </div>

    <button type="submit">Register</button>

</form>

<div class="nav-links">
<a th:href="@{/users/login}">Already have account? Login</a>
</div>
</div>

</body>
</html>